# Created by venv; see https://docs.python.org/3/library/venv.html

agenda/

Include/
Lib/
Scripts/
utils/provinces.csv
utils/temp.txt
utils/provinces.csv
Titanic (1997) - full transcript.txt
Titanic (1997) - full transcript_all.txt
